/.vscode/
/.ideia/
/data/raw/
/data/

*.pyc
**/__pycache__/
.idea/workspace.xml
/app/migrations/
*.pyc
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/ProjectEpiweb.iml
/.idea/vcs.xml
epilab/testes.ipynb
epilab/.ipynb_checkpoints/testes-checkpoint.ipynb
.ideia/
.idea/copilot/chatSessions/00000000000.xd
.idea/copilot/chatSessions/blobs/version
.idea/copilot/chatSessions/xd.lck
epilab/testes2.ipynb
/data/results
/epilab/posprocessamento.ipynb
.vscode
.idea
.env
.env.*
